<div><a href="/">Home</a></div>
<h1>Sign up</h1>

<form action="/create-customer" method="POST">
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="accountNo" placeholder="Account Number" required>
    <input type="text" name="passcode" placeholder="Passcode" required>
    <input type="hidden" name="balance" value="0" required>
    <input type="submit" value="Submit">
</form>